.App {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2rem;
  padding: 2rem;

  min-height: 100vh;

  background: tan;
}

.App > div {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
}
